body {
	font-family: "lmr12", serif;
	font-size: 10pt;
}

form, div.contents {
	border: 1px solid;
	border-radius: 1in;
	width: 7.5in;
	margin: auto;
	margin-top: 1in;
	margin-bottom: 1in;
	padding: 1in;
}

pre {
	font-family: "lmm10", monospace;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.75em;
}

h3 {
	font-size: 2.5em;
}

h4, h5, h6 {
	font-size: 2.25em;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
	margin-top: 0;
}

p {
	margin: 0;
	padding: 0;
	text-indent: 24pt;
	text-align: justify;
}
