<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="/static/css/lmm/stylesheet.css">
		<link rel="stylesheet" href="/static/css/lmr/stylesheet.css">
		<link rel="stylesheet" href="/static/css/style.css">
		{{ template "head" . }}
	</head>
	<body>
		{{ template "body" . }}
	</body>
</html>
