{{ define "head" }}
<title>{{ .Slug }}</title>
{{ end }}
{{ define "body" }}
{{ $slug := .Slug }}
{{ range .Pages }}
<div class="contents">
	<h1 class="title">{{ .Title	}}</h1>
	{{ .HtmlContents }}
</div>
<form method="POST" action="/page/update/{{ .Slug }}">
	<table>
		<tr>
			<td>Title</td>
			<td><input value="{{ .Title }}" name="title"></td>
		</tr>
		<tr>
			<td>Contents</td>
			<td><textarea name="contents" rows="24" cols="80">{{ .Contents }}</textarea></td>
		</tr>
		<tr>
			<td>Update</td>
			<td><input type="submit"></td>
		</tr>
	</table>
</form>
{{ else }}
<form method="POST" action="/page/new/{{ $slug }}">
	<table>
		<tr>
			<td>Title</td>
			<td><input name="title"></td>
		</tr>
		<tr>
			<td>Contents</td>
			<td><textarea name="contents" rows="24" cols="80"></textarea></td>
		</tr>
		<tr>
			<td>Create</td>
			<td><input type="submit"></td>
		</tr>
	</table>
</form>
{{ end }}
{{ end }}
